



    {% extends 'buyerbase.html' %}
    {% block content %}
    <style>
        th,td{
            padding: 10px;
        }
        th{
            background-color:steelblue;
            color: white;
        }
        </style>
        <div style="margin: 50px;">
            <h1 style="margin: 10px;">Project</h1>
            <table border="1" style="margin-top: 40px;">
            <tr>
                <th>PROJECT NAME</th>
                <th>CODER NAME</th>
                <th>CONTACT</th>                             
                <th>PROJECT</th>                             
                
             
            </tr>
        
       {% for d in data %}
          <tr>
            <td>{{d.6}}</td>
            <td>{{d.12}}</td>
            <td>{{d.15}}</td>
            <td><a href="/static{{d.3}}" download="">Download Project</a></td>
            
        </tr>
          {% endfor %}
      
            </table>
        </div>


        </div>
       {% endblock %}
    