



    {% extends 'buyerbase.html' %}
    {% block content %}
    <style>
        th,td{
            padding: 10px;
        }
        th{
            background-color:steelblue;
            color: white;
        }
        </style>
        <div style="margin: 50px;">
            <h1 style="margin: 10px;">Biddings</h1>
            <table border="1" style="margin-top: 40px;margin-left: 80px;">
            <tr>
              
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>DUE DATE</th>
              
                <th>SYNOPSIS</th>
                <th>STATUS</th>
              
             
                {% comment %} <th colspan="2">ACTION</th> {% endcomment %}
            </tr>
        
       {% for d in data %}
          <tr>
           
            <td>{{d.11}}</td>
            <td>{{d.12}}</td>
            <td>{{d.13}}</td>
           
           
           

       <td><a href="../static{{d.14}}" download><img src="../static{{d.14}}" download="../static{{d.14}}" height="200px" width="200px"></a></td> 
       <td>{{d.15}}</td> 
         
       {% comment %}      <td><a href="../static{{d.9}}" download><img src="../static{{d.9}}" download="../static{{d.9}}" height="200px" width="200px"></a></td> 
       {% endcomment %}
                 
               
             
                    {% comment %} <td><a href="/adminupdatebuyer?uemail={{d.3}}&&status=1" style="color:green">Approve</a></td> {% endcomment %}
                 <td><a href="/buyerviewbid?rid={{d.9}}" style="color:red">View Bids</a></td>
        
        </tr>
          {% endfor %}
      
            </table>
        </div>


        </div>
       {% endblock %}
    