{% extends 'buyerbase.html' %}
{% block content %}
    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container pt-md-5 pt-4">
            <div class="title-heading-w3 text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h3 class="title-style"></h3>
            </div>
            <div class="main-grid-contact">
                <div class="row">

                    <!-- contact form -->
                    <div class="col-lg-6 content-form-right p-0 order-lg-last order-first">
                        <div class="form-w3ls p-5">
                            <h4 class="mb-4 sec-title-w3">Request Form</h4>
                            <form method="POST" enctype="multipart/form-data" style="width:1000px">
                                {% csrf_token %}
                                {% comment %} <div class="row mb-3">
                                    <div class="col-sm-6 form-group mb-sm-0 mb-3">
                                        <input class="form-control" type="text" name="w3lName" id="w3lName"
                                            placeholder="First Name" required="">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <input class="form-control" type="text" name="w3lName" id="w3lName"
                                            placeholder="Last Name" required="">
                                    </div>
                                </div> {% endcomment %}
                                <div class="form-group mb-3">
                                    <input class="form-control" type="title" name="title" id="w3lSender"
                                        placeholder="Title" required="">
                                </div>
                               
                                <div class="form-group">
                                    <textarea class="form-control" name="description" id="w3lMessage"
                                        placeholder="Description" required=""></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <p>Due Date</p>
                                    <input class="form-control" type="date" name="duedate" id="w3lSender"
                                        placeholder="Due Date" required="">
                                </div>
                                <div class="form-group mb-3">
                                    <p>Synopsis</p>
                                    <input class="form-control" type="file" name="img" id="w3lName"
                                        placeholder="pfile" required="">
                                </div>
                               
                              

                               
                                <div class="input-group1 text-end mt-4">
                                    <button class="btn btn-style" type="submit">Submit </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var msg="{{msg}}";
                if(msg!="")
                {
                    alert(msg);
                }
          
        </script>
    </section>
    <!-- //contact -->

   {% endblock %}