



    {% extends 'coderbase.html' %}
    {% block content %}
    <style>
        th,td{
            padding: 10px;
        }
        th{
            background-color:steelblue;
            color: white;
        }
        </style>
        <div style="margin: 50px;">
            <h1 style="margin: 10px;">Biddings</h1>
            <table border="1" style="margin-top: 40px;margin-left: 80px;">
            <tr>
                <th>BUYER NAME</th>
                
                <th>EMAIL</th>
                <th>CONTACT</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>DUE DATE</th>
                <th>SYNOPSIS</th>
                <th>AMOUNT</th>
                <th>STATUS</th>
              
             
                {% comment %} <th colspan="2">ACTION</th> {% endcomment %}
            </tr>
        
       {% for d in data %}
          <tr>
  
            <td>{{d.1}}</td>
           
            <td>{{d.3}}</td>
            <td>{{d.4}}</td>
            <td>{{d.7}}</td>
            <td>{{d.8}}</td>
            <td>{{d.15}}</td>

       <td><a href="../static{{d.10}}" download><img src="../static{{d.10}}" download="../static{{d.10}}" height="200px" width="200px"></a></td> 
       <td>{{d.16}}</td> 
       <td>{{d.17}}</td>  
       {% comment %}      <td><a href="../static{{d.9}}" download><img src="../static{{d.9}}" download="../static{{d.9}}" height="200px" width="200px"></a></td> 
       {% endcomment %}
                 
               
             
                    {% comment %} <td><a href="/adminupdatebuyer?uemail={{d.3}}&&status=1" style="color:green">Approve</a></td>
                 <td><a href="/adminupdatecust?uemail={{d.3}}&&status=-1" style="color:red">Reject</a></td> {% endcomment %}
        
        </tr>
          {% endfor %}
      
            </table>
        </div>


        </div>
       {% endblock %}
    